a {
	color: white;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 42px;
    text-align: center;
    margin-top: 41px;
    text-transform: uppercase;
}

h3 {
    font-family: robotolight, Helvetica, Arial;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-weight: lighter;
    margin-bottom: 45px;
    margin-top: 45px;
}

.entry-header h1 {
    margin-top: 0;
    text-align: left;
    line-height: 25px;
    font-weight: lighter;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #282828;
    font-weight: lighter;
    text-align: center;
}



.grey-bg p {
    font-size: 14px;
}


.entry-summary p, .grey-bg p {
    font-weight: lighter;
    text-align: left;
    color: #484848;
    font-style: italic;
}

.copyright p {
    text-align: center;
    color: #c0c0c0;
    font-style: normal;
}

#page {
	background: url(../img/header_bg.png) center center no-repeat;
	/*width: 100%;*/
	/*height: 784px;*/
    /*background-color: red;*/
} 

#blogpage {
    width: 100%;
    height: 100%;
    /*background-color: #6dc7b2;*/
}

.leftnav {
	/*width: 60px;*/
    width: 4%;
	/*height: 784px;*/
    position: fixed;
    height: 100%;
	background: #222222;
}

#menu {
	/*height: 784px;*/
    height: 100%;
	background: #222;
}

#left-menu {
	font-size: 24px;
	margin-left: 18px;
	line-height: 55px;
}

.mm-menu .mm-search input {
	background: #222;
	color: #5e5e5e;
	border-radius: 0;
}

.mm-menu {
	color: #5e5e5e;
}

.mm-menu .mm-search input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #5e5e5e;
}
.mm-menu .mm-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #5e5e5e;
   opacity:  1;
}
.mm-menu .mm-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #5e5e5e;
   opacity:  1;
}
.mm-menu .mm-search input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #5e5e5e;
}

.clear {
	clear: both;
}

.mt-20 {
    margin-top: 20px;
}

.left-grid {
	width: 50%;
}

.fullWidth {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.fullWidth .image-wrapper {
    padding: 0;
    background-color: #6dc7b2;
}

img {
    display: block;
    margin: 0 auto;
}

.line {
    background-color: #666666;
    width: 100px;
    margin: 0 auto;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 61px;
    width: 200px;
    font-weight: lighter;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    text-transform: uppercase;
}

.btn-black {
    background-color: black;
}

.mb-75 {
    margin-bottom: 75px;
}

.entry-meta {
    color: #c0c0c0;
    font-family: robotolight, Helvetica, Arial;
    font-style: italic;
    font-size: 14px;
}

.entry-title a {
    font-family: 'Playfair Display SC', serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
}

.entry-summary {
    color: #484848;
    font-family: robotolight;
    font-style: italic;
    font-size: 14px;
}

.blackline {
    height: 5px;
    background-color: #000;
    width: 100%;
    margin-top: 50px;
}

a.line-btn {
    margin-top: -34px;
}

.grey-bg {
    background-color: #f0f0f0;
    padding-bottom: 40px;
    margin-top: 40px;
}

.grey-bg ul {
    list-style-type: none;
    font-family: robotolight, Helvetica, Arial;
    font-weight: lighter;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.grey-bg ul li {
    border-bottom: 1px solid #dedede;
    padding: 5px 0;
}

.grey-bg ul a {
    color: #000;
}

.copyright {
    margin-top: 20px;
}

.blog-header {
    background: url(../img/header_bg.png) no-repeat;
    height: 200px;
}

.blog-detail-txt p {
    text-align: left;
    margin-top: 20px;
}

.abouttitle h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 64px;
    color: #f0f0f0;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    line-height: 0.8em;
    margin-top: 40px;
}

.abouttitle .larger {
    font-size: 100px;
    margin: 0;
}

.people h2 {
    font-family: 'Playfair Display SC', serif;
    font-size: 24px;
    color: #c0c0c0;
    text-align: center;
}

.people {
    margin-top: 40px;
}

.aboutpage #page {
    height: 200px;
}

.blabberbuzztitle h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 122px;
    color: #f0f0f0;
    font-weight: lighter;
}

.aboutustitle h2 {
    font-family: 'Playfair Display SC', serif;
    color: #000;
    font-size: 42px;
    text-align: center;
}

.aboutustitle p {
    text-align: left;
    font-weight: lighter;
}

.aboutustitle a {
    color: #6dc7b2;
}

