a {
	color: white;
}

h1 {
    font-family: 'Playfair Display SC', serif;
    font-size: 42px;
    text-align: center;
    margin-top: 41px;
    text-transform: uppercase;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #282828;
    font-weight: lighter;
    text-align: center;
}

#page {
	background: url(../img/header_bg.png) top center no-repeat;
	width: 100%;
	height: 784px;
} 

.leftnav {
	width: 60px;
	height: 784px;
	background: #222222;
}

#menu {
	height: 784px;
	background: #222;
}

#left-menu {
	font-size: 24px;
	margin-left: 18px;
	line-height: 55px;
}

.mm-menu .mm-search input {
	background: #222;
	color: #5e5e5e;
	border-radius: 0;
}

.mm-menu {
	color: #5e5e5e;
}

.mm-menu .mm-search input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #5e5e5e;
}
.mm-menu .mm-search input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #5e5e5e;
   opacity:  1;
}
.mm-menu .mm-search input::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #5e5e5e;
   opacity:  1;
}
.mm-menu .mm-search input:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #5e5e5e;
}

.clear {
	clear: both;
}

.left-grid {
	width: 50%;
}

.fullWidth {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: initial;
}

.fullWidth .image-wrapper {
    padding: 0;
    background-color: #6dc7b2;
}

img {
    display: block;
    margin: 0 auto;
}

.line {
    background-color: #666666;
    width: 100px;
    margin: 0 auto;
    height: 2px;
    margin-top: 15px;
    margin-bottom: 25px;
}

.btn {
    font-family: 'Roboto', sans-serif;
    color: white;
    height: 61px;
    width: 200px;
    font-weight: lighter;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 20px 0;
    text-transform: uppercase;
}

.btn-black {
    background-color: black;
}

.mb-75 {
    margin-bottom: 75px;
}